<div class="row">


  <div class="col-md-9">
    <h1 class="display-4"><span apblngTranslate="home.title">Welcome, to </span> Appbilling</h1>

    <p class="lead" apblngTranslate="home.subtitle">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" apblngTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span>
      </div>
    </div>
  </div>
</div>
